<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/CHUGlife_styles.css">

        <!-- When using 2.1.3 of jQuery, submitting search from iOS keyboard (instead of clicking Search button) wouldn't show the Search owl at all, i.e., wouldn't unhide the div.
        <!-- iOS keyboard submit works after updating to version 3.2.1. -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script type="text/javascript">// <![CDATA[

            $(document).ready(function() {
                $('.search-form').on('submit', function(){
                    $("#spinning").show();
                });
            });

         // ]]></script>


        <title>CHUG Life</title>

        <!-- FAVICONS -->

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://cparmet.pythonanywhere.com/static/favicons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://cparmet.pythonanywhere.com/static/favicons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://cparmet.pythonanywhere.com/static/favicons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://cparmet.pythonanywhere.com/static/favicons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://cparmet.pythonanywhere.com/static/favicons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://cparmet.pythonanywhere.com/static/favicons/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="http://cparmet.pythonanywhere.com/static/favicons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="http://cparmet.pythonanywhere.com/static/favicons/favicon-16x16.png" sizes="16x16" />
        <meta name="application-name" content="CHUG Life"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="http://cparmet.pythonanywhere.com/static/favicons/mstile-144x144.png" />

    </head>

    <body>

        <!-- Nav bar -->

        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <!-- Comment out the ||| button, since we have no nav.-->
              <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
              <!--  <span class="sr-only">Toggle navigation</span>-->
              <!--  <span class="icon-bar"></span>-->
              <!--  <span class="icon-bar"></span>-->
              <!--  <span class="icon-bar"></span>-->
              <!--</button>-->

                <img src="/static/favicons/apple-touch-icon-57x57.png" style="border-radius: 50%;"/>
                <font size="6" color="lightgray" style="vertical-align: middle;">&nbsp;CHUG Life</font>

                <!-- Original code. When the link was live, the order of img / title got reversed on iOS. -->
                <!--<img class="navbar-left" src="/static/favicons/apple-touch-icon-57x57.png" style="border-radius: 50%;"/>-->
                <!--<a class="navbar-brand" href="#">&nbsp;&nbsp;CHUG Life</a>-->
            </div>
          </div>
        </nav>

        <div class="container">

            <div class="row">
                <form action="." method="POST" class="search-form">
                    <input id="search_text_box" class="form-control input-lg" name="search_term" autofocus>
                    <input type="submit" class="btn btn-success btn-lg" value="Search the lifelist">
                </form>
            </div>

            <div id="spinning" class="row">
                <img src="static/owl.gif" height="125">
                <p><font size="4" color="brown"><b>Searching...</b></font></p>
            </div>

            {% for comment in comments %}
                <div class="row" style="font-size: medium;">
                    <p>{{ comment }} </p>
                </div>
            {% endfor %}

            <p> </p>

            {% for IG_link,caption in images_and_captions %}
                <div class="row">
                    <img src="{{ IG_link }}" style='width: 100%; max-width:500px; object-fit: contain;'>
                    <p style='max-width:500px;'> {{ caption }} </p>
                </div>
            {% endfor %}
        </div>

    </body>
</html>
